body {
  font-family: 'Open Sans', sans-serif;
  color: #35344c;
  background-color: #fafafa; }

.relative {
  position: relative; }

h1,
h2,
p,
button {
  letter-spacing: .2px; }

h1,
h2,
p {
  margin: 0; }

.title {
  text-align: center;
  font-weight: 500;
  line-height: 50px;
  font-size: 32px; }
  @media (max-width: 1200px) {
    .title {
      line-height: 44px;
      font-size: 28px; } }
  @media (max-width: 768px) {
    .title {
      line-height: 38px;
      font-size: 20px; } }

.subtitle {
  line-height: 32px;
  font-size: 18px; }

a:hover {
  text-decoration: none; }

.btn {
  position: relative;
  z-index: 999;
  background-color: #99cc33;
  box-shadow: 0 10px 20px 0 rgba(96, 165, 16, 0.42); }
  .btn:focus {
    box-shadow: 0 10px 20px 0 rgba(96, 165, 16, 0.42); }
  .btn-language, .btn-logout, .btn-login {
    box-shadow: none; }
    .btn-language:focus, .btn-logout:focus, .btn-login:focus {
      box-shadow: none; }
  .btn-language {
    border: solid 1px #eeebeb;
    font-weight: 700;
    background-color: #fafafa; }
  .btn-login, .btn-logout {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: #fafafa; }
  .btn .icon {
    width: 25px;
    height: 20px;
    margin-left: 5px;
    background: url(../images/login.svg) center no-repeat;
    background-size: 100%; }
  .btn-logout .icon {
    background: url(../images/logout.svg) center no-repeat; }
  .btn-create-app {
    padding: 17px 35px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase; }
    .btn-create-app:hover {
      background-color: #60A510; }

.header {
  padding: 20px 0;
  box-shadow: 0 1px 0 0 rgba(228, 228, 228, 0.5); }
  @media (max-width: 992px) {
    .header {
      position: fixed;
      top: 0;
      width: 100%;
      padding: 0;
      z-index: 9999;
      background: #fafafa;
      transform: translate3d(0, 0, 0);
      visibility: visible !important; }
      .header .row {
        flex-direction: row;
        flex-wrap: nowrap; }
        .header .row > :first-child {
          margin-right: 15px; }
        .header .row > :nth-child(2) {
          padding: 0; } }
  .header .logo {
    display: block;
    width: 150px;
    padding: 5px 0;
    color: transparent;
    background: url("../images/logo.png") center no-repeat;
    background-size: 100%; }
    @media (max-width: 992px) {
      .header .logo {
        display: none; } }
    .header .logo-mobile {
      display: none;
      position: relative;
      width: 55px;
      height: 60px;
      padding: 0;
      background: url("../images/logo-mobile.png") left center no-repeat;
      background-size: 40px;
      cursor: pointer;
      user-select: none; }
      @media (max-width: 992px) {
        .header .logo-mobile {
          display: block; } }
      .header .logo-mobile:before {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        top: 25px;
        width: 6px;
        height: 6px;
        border-color: transparent transparent #979797 #979797;
        border-style: solid;
        border-width: 1px;
        transform: rotate(-45deg); }
  .header .mobile-navigation {
    display: block;
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
    height: 390px;
    background-color: rgba(250, 250, 250, 0.95);
    box-shadow: 2px 0 1px 0 rgba(0, 0, 0, 0.1);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: .7s; }
    .header .mobile-navigation > .navigation-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around; }
    .header .mobile-navigation a {
      margin: 15px 0; }
    .header .mobile-navigation.active {
      visibility: visible;
      pointer-events: visible;
      opacity: 1; }
  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 14px; }
    @media (max-width: 992px) {
      .header-navigation {
        display: none; } }
    .header-navigation a {
      color: #000; }
      .header-navigation a:hover {
        color: #99cc33; }
  .header .language-menu {
    height: 100vh;
    top: 0;
    z-index: 999; }
    .header .language-menu.mobile {
      display: none; }
      @media (max-width: 992px) {
        .header .language-menu.mobile {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          border: 0;
          overflow-y: scroll; } }
    .header .language-menu.desktop {
      position: absolute;
      top: 40px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: auto;
      padding: 4px 0;
      border-radius: 4px;
      background-color: #fafafa;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.11); }
      .header .language-menu.desktop .navigation-list {
        align-items: center; }
        .header .language-menu.desktop .navigation-list a {
          padding: 6px 0;
          margin: 0;
          box-shadow: none; }
      @media (max-width: 992px) {
        .header .language-menu.desktop {
          display: none; } }
    .header .language-menu .btn-close,
    .header .language-menu .title,
    .header .language-menu a {
      padding-left: 15px; }
    .header .language-menu .btn-close {
      position: relative;
      width: 50px;
      height: 40px;
      margin: 10px 0 40px 0; }
      .header .language-menu .btn-close:after, .header .language-menu .btn-close:before {
        content: '';
        position: absolute;
        top: 20px;
        width: 25px;
        height: 2px;
        background-color: #000; }
      .header .language-menu .btn-close:after {
        transform: rotate(-45deg); }
      .header .language-menu .btn-close:before {
        transform: rotate(45deg); }
    .header .language-menu .navigation-container .navigation-list {
      display: flex;
      align-items: stretch;
      flex-direction: column; }
      .header .language-menu .navigation-container .navigation-list :first-child {
        box-shadow: none; }
    .header .language-menu .navigation-container h4 {
      text-align: left;
      font-weight: 700;
      font-size: 20px; }
    .header .language-menu .navigation-container a {
      margin: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1); }
  .header .options-menu {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%; }
    @media (max-width: 992px) {
      .header .options-menu {
        padding: 9px 0; } }
    .header .options-menu .btn {
      font-size: 14px; }
      .header .options-menu .btn-language, .header .options-menu .btn-create-app {
        font-size: 12px; }
      .header .options-menu .btn-language {
        position: relative; }
      .header .options-menu .btn-create-app {
        margin: 0 10px;
        padding: 6px 12px;
        font-weight: 500;
        text-transform: capitalize;
        box-shadow: none; }

.footer a {
  color: #35344c; }
  .footer a:hover {
    color: #99cc33; }
.footer .footer-navigation {
  display: flex;
  padding: 80px 0 40px 0;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 -1px 0 0 rgba(228, 228, 228, 0.5); }
  @media (max-width: 768px) {
    .footer .footer-navigation {
      padding: 20px 0; } }
  .footer .footer-navigation .navigation-item {
    display: flex;
    flex-direction: column; }
    .footer .footer-navigation .navigation-item h4 {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase; }
    .footer .footer-navigation .navigation-item a {
      margin-bottom: 24px;
      font-weight: 500; }
      @media (max-width: 576px) {
        .footer .footer-navigation .navigation-item a {
          word-wrap: break-word; } }
@media (max-width: 992px) {
  .footer .navigation-item.social-network {
    flex-flow: row wrap;
    margin: 30px 0 0 0; } }
@media (max-width: 992px) {
  .footer .navigation-item.social-network h4 {
    flex-basis: 100%; } }
.footer .navigation-item.social-network .flex-container {
  display: flex;
  flex-direction: row; }
  .footer .navigation-item.social-network .flex-container .icon {
    width: 20px;
    height: 20px;
    margin-right: 25px;
    background: center no-repeat;
    background-size: 100%; }
    .footer .navigation-item.social-network .flex-container .icon-twitter {
      background-image: url("../images/twitter.svg"); }
    .footer .navigation-item.social-network .flex-container .icon-facebook {
      background-image: url("../images/facebook.svg"); }
    .footer .navigation-item.social-network .flex-container .icon-blogger {
      background-image: url("../images/blogger.svg"); }
    .footer .navigation-item.social-network .flex-container .icon-telegram {
      background-image: url("../images/telegram.svg"); }
    .footer .navigation-item.social-network .flex-container .icon-google-plus {
      background-image: url("../images/google-plus.svg"); }
    .footer .navigation-item.social-network .flex-container .icon-youtube {
      background-image: url("../images/youtube.svg"); }
.footer .policy-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px; }
  @media (max-width: 992px) {
    .footer .policy-navigation {
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 655px;
      max-height: 170px; } }
  .footer .policy-navigation a {
    margin: 0 50px; }
    @media (max-width: 992px) {
      .footer .policy-navigation a {
        margin: 0 20px 20px 0; } }
.footer .copyrighting {
  margin: 30px 0;
  text-align: center;
  color: #35344c; }
  @media (max-width: 992px) {
    .footer .copyrighting {
      text-align: left; } }

section.banner {
  overflow: hidden; }
  section.banner > .container {
    min-height: calc(100vh - 73px); }
    @media (max-width: 992px) {
      section.banner > .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        min-height: 100vh;
        padding-top: 83px; } }
    @media (max-width: 768px) {
      section.banner > .container {
        justify-content: space-around; } }
  section.banner .title-container {
    position: absolute;
    top: 50%;
    max-width: 420px;
    transform: translateY(-60%); }
    @media (max-width: 1200px) {
      section.banner .title-container {
        max-width: 340px; } }
    @media (max-width: 992px) {
      section.banner .title-container {
        position: relative;
        top: auto;
        transform: none;
        text-align: center; } }
    section.banner .title-container .title {
      text-align: left;
      font-weight: 500;
      font-size: 40px; }
      @media (max-width: 1200px) {
        section.banner .title-container .title {
          font-size: 30px; } }
      @media (max-width: 992px) {
        section.banner .title-container .title {
          text-align: center;
          font-size: 20px; } }
      @media (max-width: 768px) {
        section.banner .title-container .title {
          line-height: 30px;
          font-size: 17px; } }
    section.banner .title-container .subtitle {
      margin: 24px 0 33px 0;
      font-weight: 300;
      line-height: 32px;
      font-size: 24px; }
      @media (max-width: 1200px) {
        section.banner .title-container .subtitle {
          font-size: 22px; } }
      @media (max-width: 992px) {
        section.banner .title-container .subtitle {
          font-size: 18px; } }
      @media (max-width: 768px) {
        section.banner .title-container .subtitle {
          margin: 12px 0 16px 0;
          font-size: 16px; } }
    section.banner .title-container .btn-create-app {
      padding: 17px 23px 17px 22px; }
  section.banner .banner-container {
    position: absolute;
    top: 50%;
    right: 155px;
    width: 380px;
    height: 565px;
    transform: translateY(-50%); }
    @media (min-width: 1450px) {
      section.banner .banner-container {
        right: 100px; } }
    @media (max-width: 1200px) {
      section.banner .banner-container {
        width: 320px; } }
    @media (min-width: 1200px) {
      section.banner .banner-container {
        right: 155px; } }
    @media (max-width: 992px) {
      section.banner .banner-container {
        position: relative;
        top: auto;
        right: auto;
        max-width: 500px;
        text-align: center;
        transform: none;
        height: 500px; } }
    @media (max-width: 768px) {
      section.banner .banner-container {
        width: 180px;
        height: 250px; } }
  section.banner .banner-bg {
    position: relative;
    width: 330px;
    height: 630px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/banner/banner-bg.png");
    z-index: 3;
    background-size: 100%; }
    @media (max-width: 1200px) {
      section.banner .banner-bg {
        width: 270px; } }
    @media (max-width: 992px) {
      section.banner .banner-bg {
        height: 520px; } }
    @media (max-width: 768px) {
      section.banner .banner-bg {
        width: 140px;
        height: 250px; } }
    section.banner .banner-bg-rear {
      position: absolute;
      width: 285px;
      height: 525px;
      opacity: 0;
      animation-fill-mode: forwards; }
      @media (max-width: 1200px) {
        section.banner .banner-bg-rear {
          width: 220px; } }
      @media (max-width: 992px) {
        section.banner .banner-bg-rear {
          height: 422px; } }
      @media (max-width: 768px) {
        section.banner .banner-bg-rear {
          width: 115px;
          height: 200px; } }
    section.banner .banner-bg-2 {
      top: 38px;
      right: 70px;
      z-index: 2;
      background-image: url("../images/banner/banner-bg-2.png");
      background-size: 100%; }
    section.banner .banner-bg-3 {
      position: absolute;
      top: 10px;
      right: 70px;
      z-index: 2;
      background-image: url("../images/banner/banner-bg-3.png");
      background-size: 100%; }
    section.banner .banner-bg-4 {
      position: absolute;
      top: 39px;
      right: 49px;
      background-image: url("../images/banner/banner-bg-4.png");
      background-size: 100%;
      z-index: 1; }
    section.banner .banner-bg-5 {
      position: absolute;
      top: 85px;
      right: 89px;
      background-image: url("../images/banner/banner-bg-5.png");
      background-size: 100%;
      z-index: 2; }

.about-us {
  display: flex;
  flex-direction: column;
  padding: 60px 0 100px 0;
  font-size: 18px; }
  .about-us .title {
    max-width: 930px;
    margin: 0 auto 120px auto; }
    @media (max-width: 992px) {
      .about-us .title {
        margin: 0 auto 40px auto; } }
  .about-us .text-container {
    display: none; }
    @media (max-width: 992px) {
      .about-us .text-container {
        display: block; } }
    .about-us .text-container p {
      position: relative;
      padding-left: 20px;
      margin-bottom: 40px;
      text-align: left; }
    .about-us .text-container .icon:before {
      content: '';
      position: absolute;
      display: inline-block;
      left: 0;
      top: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%; }
    .about-us .text-container .icon-green:before {
      background-color: #99cc33; }
    .about-us .text-container .icon-pink:before {
      background-color: #d32992; }
    .about-us .text-container .icon-orange:before {
      background-color: #fec502; }
    .about-us .text-container .icon-dark-green:before {
      background-color: #60a510; }
  .about-us .phone {
    position: relative;
    width: 100%;
    min-height: 401px;
    margin: auto;
    background-size: 90%; }
    @media (max-width: 992px) {
      .about-us .phone {
        display: none; } }
  .about-us .banner-mobile {
    display: none; }
    @media (max-width: 992px) {
      .about-us .banner-mobile {
        display: block;
        height: 500px;
        background: url("../images/banner-mobile.svg") center no-repeat;
        background-size: 80%; } }
  .about-us .btn {
    margin-top: 80px; }
  .about-us #animate-about-us {
    position: absolute;
    top: -122px;
    width: 100%; }

.steps {
  padding: 0 0 100px 0;
  text-align: center;
  font-size: 18px; }
  @media (max-width: 992px) {
    .steps .row {
      flex-direction: column; } }
  @media (max-width: 992px) {
    .steps .row .col {
      flex: 1 0 50%; } }
  .steps-item {
    min-height: 500px;
    padding: 0 33px;
    margin: 60px 0;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(230, 230, 230, 0.5); }
    @media (max-width: 1200px) {
      .steps-item {
        min-height: 520px;
        padding: 0 31px; } }
    @media (max-width: 992px) {
      .steps-item {
        min-height: auto;
        padding: 0 120px;
        margin: 30px 0; } }
    @media (max-width: 768px) {
      .steps-item {
        padding: 0 18px; } }
    .steps-item .icon {
      width: 86px;
      height: 126px;
      margin: 0 auto;
      background: no-repeat center bottom; }
      .steps-item .icon-money {
        width: 96px; }
      .steps-item .icon-star {
        width: 126px; }
    .steps-item p {
      padding: 26px 0; }
      .steps-item p:not(:last-child) {
        position: relative; }
        .steps-item p:not(:last-child):after {
          content: '';
          position: absolute;
          display: block;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-image: linear-gradient(to left, #ffffff, #000000 50%, #ffffff);
          opacity: 0.1; }

.counter {
  padding: 80px 0;
  text-align: center;
  font-size: 50px;
  background-color: #fff; }
  .counter-title {
    margin-bottom: 50px;
    font-weight: 500;
    line-height: 1.45;
    font-size: 22px;
    color: #000; }
  .counter #clock {
    max-width: 475px;
    margin: 0 auto; }
    .counter #clock .flip-clock-divider.seconds {
      display: none; }
  @media (max-width: 768px) {
    .counter .clock-container {
      max-width: 320px;
      margin: 0 auto;
      padding: 8px; }
      .counter .clock-container .flip-clock-divider .flip-clock-label {
        right: -55px; }
      .counter .clock-container .flip-clock-divider.minutes .flip-clock-label {
        right: -65px; } }
  @media (max-width: 768px) {
    .counter .flip-clock-wrapper ul {
      width: 40px;
      height: 78px;
      margin: 0 2px; }
    .counter .flip-clock-wrapper ul li {
      line-height: 78px; }
    .counter .flip-clock-wrapper ul li a div div.inn {
      border-radius: 3px;
      font-size: 50px; }
    .counter .flip-clock-wrapper ul li a div.down {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
    .counter .flip-clock-wrapper ul li a div.up:after {
      top: 38px;
      height: 2px; } }
  .counter .btn-create-app {
    margin-top: 80px; }

.benefits {
  text-align: center;
  padding: 120px 0; }
  @media (max-width: 768px) {
    .benefits .order_1 {
      order: 1; }
    .benefits .order_2 {
      order: 2; }
    .benefits .order_3 {
      order: 3; }
    .benefits .order_4 {
      order: 4; }
    .benefits .order_5 {
      order: 5; }
    .benefits .order_6 {
      order: 6; }
    .benefits .order_7 {
      order: 7; }
    .benefits .order_8 {
      order: 8; } }
  .benefits .title {
    margin-bottom: 100px;
    font-weight: 500; }
  .benefits .subtitle {
    margin-bottom: 14px; }
    @media (max-width: 768px) {
      .benefits .subtitle {
        line-height: 24px; } }
  .benefits p {
    font-size: 16px; }
  .benefits .icon {
    width: 51px;
    height: 51px;
    margin: 0 auto 20px auto;
    padding: 40px;
    border-radius: 50%;
    background: #fff no-repeat center;
    box-shadow: 0 0 10px 0 rgba(230, 230, 230, 0.5); }
    .benefits .icon-lightning {
      background-image: url("../images/lightning.svg"); }
    .benefits .icon-book {
      background-image: url("../images/book.svg"); }
    .benefits .icon-clock {
      background-image: url("../images/clock.svg"); }
    .benefits .icon-medal {
      background-image: url("../images/medal.svg"); }
    .benefits .icon-phone {
      background-image: url("../images/phone.svg"); }
    .benefits .icon-hand {
      background-image: url("../images/hand.svg"); }
  .benefits-item {
    max-width: 280px;
    margin: 0 auto 80px auto; }
    .benefits-item .subtitle {
      font-weight: 800;
      font-size: 16px; }

.referral {
  text-align: center;
  font-weight: 700;
  line-height: 29px;
  font-size: 18px; }
  @media (max-width: 992px) {
    .referral {
      font-size: 16px; } }
  .referral .title {
    margin-bottom: 40px; }
  .referral .banner {
    position: relative;
    height: 386px;
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      .referral .banner {
        height: 316px; } }
    .referral .banner .external-bg {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      background: center no-repeat;
      background-size: 100% 100%;
      z-index: 1; }
    .referral .banner .pink-bg {
      background-image: url("../images/pink-bg.svg"); }
    .referral .banner .green-bg {
      background-image: url("../images/green-bg.svg"); }
  .referral .content {
    position: relative;
    width: 100%;
    height: 100%; }
    .referral .content-bg {
      position: absolute;
      width: 140px;
      height: 150px;
      background: center no-repeat; }
      @media (max-width: 768px) {
        .referral .content-bg {
          width: 120px;
          background-size: 100%; } }
    .referral .content .subscription {
      width: 100%;
      height: 100%;
      background: url("../images/subscription.svg") center no-repeat; }
      @media (max-width: 768px) {
        .referral .content .subscription {
          background-size: 100%; } }
    .referral .content .left-hand {
      top: 30%;
      left: 100px;
      background-image: url("../images/right-hand.svg"); }
      @media (max-width: 1200px) {
        .referral .content .left-hand {
          left: 60px; } }
      @media (max-width: 992px) {
        .referral .content .left-hand {
          left: 170px; } }
      @media (max-width: 768px) {
        .referral .content .left-hand {
          left: 20%; } }
      @media (max-width: 576px) {
        .referral .content .left-hand {
          left: 10%; } }
    .referral .content .right-hand {
      top: 40%;
      left: 300px;
      background-image: url("../images/left-hand.svg"); }
      @media (max-width: 1200px) {
        .referral .content .right-hand {
          left: 250px; } }
      @media (max-width: 992px) {
        .referral .content .right-hand {
          left: 350px; } }
      @media (max-width: 768px) {
        .referral .content .right-hand {
          left: 54%; } }
  .referral p {
    margin-bottom: 85px;
    font-weight: 500; }
    .referral p.business-offer {
      padding: 25px 45px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 0 10px 0 rgba(230, 230, 230, 0.5); }
      @media (max-width: 992px) {
        .referral p.business-offer {
          padding: 25px 6px; } }
  .referral .btn {
    margin-bottom: 80px; }
  .referral .text-pink {
    color: #a62073; }
  .referral .text-green {
    color: #7aa720; }

.reviews {
  text-align: center;
  line-height: 29px;
  font-size: 18px; }
  .reviews .title {
    margin-top: 20px;
    margin-bottom: 60px; }
  .reviews .subtitle {
    margin-bottom: 20px;
    font-style: italic; }
  .reviews .comments {
    height: 130px; }
    .reviews .comments .comment {
      position: absolute;
      top: 0;
      opacity: 0; }
      .reviews .comments .comment.active {
        opacity: 1;
        transition: opacity 1s; }
      .reviews .comments .comment .star {
        width: 18px;
        height: 18px;
        margin: 0 4px;
        background: url("../images/star-review.png") center no-repeat;
        background-size: 100%; }
        .reviews .comments .comment .star-container {
          position: relative;
          display: flex;
          justify-content: center;
          width: 130px;
          margin: 0 auto; }
          .reviews .comments .comment .star-container:before {
            content: '';
            position: absolute;
            display: block;
            bottom: -60px;
            left: 50%;
            width: 460px;
            height: 1px;
            background-image: linear-gradient(to left, #ffffff, #000000 50%, #ffffff);
            transform: translateX(-50%);
            opacity: .2; }
            @media (max-width: 768px) {
              .reviews .comments .comment .star-container:before {
                width: 260px; } }
  .reviews .slider {
    position: relative;
    display: flex;
    width: 5000px;
    margin: 120px 0 0 0;
    text-align: left;
    transition: left 0.5s; }
    .reviews .slider-container {
      overflow: hidden; }
      .reviews .slider-container .indicators {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 95px;
        margin: 70px auto 0 auto; }
        .reviews .slider-container .indicators .indicator {
          width: 8px;
          height: 8px;
          margin: 0 10px;
          border-radius: 50%;
          background-color: #d8d8d8;
          cursor: pointer; }
          .reviews .slider-container .indicators .indicator.active {
            width: 14px;
            height: 14px;
            background-color: #99cc33; }
    .reviews .slider .slide {
      position: relative;
      width: 280px; }
      @media (max-width: 1200px) {
        .reviews .slider .slide {
          display: flex;
          flex-direction: column;
          align-items: center; } }
      .reviews .slider .slide > * {
        opacity: .3; }
      .reviews .slider .slide.active > * {
        opacity: 1; }
      .reviews .slider .slide .icon {
        position: absolute;
        left: 0;
        top: 50%;
        width: 63px;
        height: 63px;
        background: center no-repeat;
        background-size: 100%;
        transform: translateY(-50%); }
        @media (max-width: 1200px) {
          .reviews .slider .slide .icon {
            position: relative;
            left: auto;
            top: auto;
            transform: none; } }
      .reviews .slider .slide p {
        font-size: 14px;
        padding-left: 80px; }
        @media (max-width: 1200px) {
          .reviews .slider .slide p {
            padding-left: 0; } }
        .reviews .slider .slide p b {
          font-size: 16px;
          pointer-events: none; }
    .reviews .slider .slide[data-index='1'] .icon {
      background-image: url("../images/slide-item-2.png"); }
    .reviews .slider .slide[data-index='2'] .icon {
      background-image: url("../images/slide-item-2.png"); }
    .reviews .slider .slide[data-index='3'] .icon {
      background-image: url("../images/slide-item-2.png"); }
  .reviews .btn {
    margin-top: 80px; }

.about-platform {
  margin-top: 100px;
  text-align: center; }
  .about-platform .title {
    margin-bottom: 20px; }
  .about-platform .map {
    display: block;
    width: 100%;
    height: 522px; }
    @media (max-width: 768px) {
      .about-platform .map {
        display: none; } }
    .about-platform .map-mobile {
      display: none;
      width: 100%;
      height: 400px;
      background: url("../images/map.png") center no-repeat;
      background-size: 110%; }
      @media (max-width: 768px) {
        .about-platform .map-mobile {
          display: block; } }
      @media (max-width: 576px) {
        .about-platform .map-mobile {
          height: 250px; } }
  .about-platform .calculate {
    display: flex;
    justify-content: center;
    padding: 24px 0 30px 0;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(230, 230, 230, 0.5); }
    @media (max-width: 992px) {
      .about-platform .calculate {
        flex-direction: column;
        padding: 24px 40px; } }
    .about-platform .calculate-item {
      padding: 0 50px; }
      @media (max-width: 992px) {
        .about-platform .calculate-item {
          padding: 0; } }
      .about-platform .calculate-item:nth-child(2) {
        border-right: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5; }
        @media (max-width: 992px) {
          .about-platform .calculate-item:nth-child(2) {
            margin: 20px 0;
            padding: 20px 0;
            border-right: none;
            border-left: none;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5; } }
      .about-platform .calculate-item p {
        margin: 0; }
      .about-platform .calculate-item p.title {
        margin-bottom: 6px;
        font-size: 40px;
        font-weight: 500; }
        @media (max-width: 1200px) {
          .about-platform .calculate-item p.title {
            font-size: 34px; } }
      .about-platform .calculate-item p.subtitle {
        font-size: 18px;
        color: #99cc33; }
        @media (max-width: 1200px) {
          .about-platform .calculate-item p.subtitle {
            font-size: 14px; } }
  .about-platform .btn {
    margin-top: 80px; }

.portfolio {
  padding: 120px 0 80px 0;
  text-align: center; }
  .portfolio .title {
    margin-bottom: 20px;
    font-weight: 500; }
  .portfolio .subtitle {
    font-weight: 300; }
  .portfolio .carousel {
    display: block; }
    @media (max-width: 992px) {
      .portfolio .carousel {
        display: none; } }
    .portfolio .carousel.carousel-mobile {
      display: none; }
      @media (max-width: 992px) {
        .portfolio .carousel.carousel-mobile {
          display: block; } }
  .portfolio .slider {
    position: relative;
    margin-bottom: 50px;
    overflow: hidden; }
    @media (max-width: 768px) {
      .portfolio .slider .desktop-slide {
        display: none; } }
    .portfolio .slider .slide {
      display: flex; }
      .portfolio .slider .slide-container {
        position: relative;
        left: -1110px;
        display: flex;
        justify-content: flex-start;
        width: 5000px; }
      .portfolio .slider .slide .template {
        flex: 1; }
        .portfolio .slider .slide .template-bg {
          height: 510px;
          background: center no-repeat;
          background-size: 100%; }
          @media (max-width: 576px) {
            .portfolio .slider .slide .template-bg {
              height: 320px; } }
          .portfolio .slider .slide .template-bg.website {
            background-image: url("../images/website.png"); }
          .portfolio .slider .slide .template-bg.messenger {
            background-image: url("../images/messenger.png"); }
          .portfolio .slider .slide .template-bg.browser {
            background-image: url("../images/browser.png"); }
          .portfolio .slider .slide .template-bg.media-player {
            background-image: url("../images/media-player.png"); }
        .portfolio .slider .slide .template-title {
          margin-top: 30px;
          font-weight: 600;
          font-size: 18px; }
  .portfolio .button-container {
    display: flex;
    justify-content: space-between;
    padding: 20px; }
    .portfolio .button-container a {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 0 10px 0 rgba(230, 230, 230, 0.5); }
      .portfolio .button-container a:before {
        content: '';
        position: absolute;
        display: block;
        top: 16px;
        width: 10px;
        height: 10px;
        border: 1px solid #000;
        transform: rotate(45deg); }
    .portfolio .button-container .button-prev:before {
      left: 17px;
      border-top-color: transparent;
      border-right-color: transparent; }
    .portfolio .button-container .button-next:before {
      right: 17px;
      border-bottom-color: transparent;
      border-left-color: transparent; }
  .portfolio .indicators {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    margin: 60px auto 50px auto; }
    @media (max-width: 992px) {
      .portfolio .indicators {
        display: none; } }
    .portfolio .indicators-mobile {
      display: none; }
      @media (max-width: 992px) {
        .portfolio .indicators-mobile {
          display: flex;
          width: 200px; } }
    .portfolio .indicators .indicator {
      width: 8px;
      height: 8px;
      margin: 0 10px;
      border-radius: 50%;
      background-color: #d8d8d8;
      cursor: pointer; }
      .portfolio .indicators .indicator.active {
        width: 14px;
        height: 14px;
        background-color: #99cc33; }

/*# sourceMappingURL=style.css.map */
