h1,
h2,
p,
button {
  letter-spacing: .2px;
}

h1,
h2,
p {
  margin: 0;
}

.title {
  text-align: center;
  font-weight: 700;
  line-height: 50px;
  font-size: 32px;
}

.subtitle {
  line-height: 32px;
  font-size: 18px;
}

a {
  &:hover {
    text-decoration: none;
  }
}