.about-us {
  display: flex;
  flex-direction: column;
  padding: 60px 0 100px 0;
  font-size: 18px;

  .title {
    max-width: 930px;
    margin: 0 auto 120px auto;
    @media (max-width: $md) {
      margin: 0 auto 40px auto;
    }
  }

  .text-container {
    display: none;
    @media (max-width: $md) {
      display: block;
    }

    p {
      position: relative;
      padding-left: 20px;
      margin-bottom: 40px;
      text-align: left;
    }

    .icon {
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        top: 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }

      &-green {
        &:before {
          background-color: #99cc33;
        }
      }

      &-pink {
        &:before {
          background-color: #d32992;
        }
      }

      &-orange {
        &:before {
          background-color: #fec502;
        }
      }

      &-dark-green {
        &:before {
          background-color: #60a510;
        }
      }
    }
  }

  .phone {
    position: relative;
    width: 100%;
    min-height: 401px;
    margin: auto;
    background-size: 90%;
    @media (max-width: $md) {
      display: none;
    }
  }

  .banner-mobile {
    display: none;
    @media (max-width: $md) {
      display: block;
      height: 500px;
      background: url("../images/banner-mobile.svg") center no-repeat;
      background-size: 80%;
    }
  }

  .btn {
    margin-top: 80px;
  }

  #animate-about-us {
    position: absolute;
    top: -122px;
    //left: -337px;
    //width: 1283px;
    width: 100%;
  }
}