section.banner {
  overflow: hidden;

  > .container {
    min-height: calc(100vh - 73px);
  }

  .title-container {
    position: absolute;
    top: 50%;
    max-width: 420px;
    transform: translateY(-60%);

    .title {
      text-align: left;
      font-weight: 500;
      font-size: 40px;
    }

    .subtitle {
      margin: 24px 0 33px 0;
      font-weight: 300;
      line-height: 32px;
      font-size: 24px;
    }

    .btn-create-app {
      padding: 17px 23px 17px 22px;
    }
  }

  .banner-container {
    position: absolute;
    right: 100px;
    top: 50%;
    width: 380px;
    height: 565px;
    transform: translateY(-50%);
  }

  .banner-bg {
    position: relative;
    width: 330px;
    height: 630px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/banner/banner-bg.png");
    z-index: 3;
    background-size: 337px;

    &-2 {
      position: absolute;
      top: 38px;
      right: 70px;
      width: 285px;
      height: 525px;
      z-index: 2;
      background-image: url("../images/banner/banner-bg-2.png");
      background-size: 300px;
      animation-fill-mode: forwards;
      opacity: 0;
    }

    &-3 {
      position: absolute;
      top: 10px;
      right: 70px;
      width: 285px;
      height: 525px;
      z-index: 2;
      background-image: url("../images/banner/banner-bg-3.png");
      background-size: 300px;
      animation-fill-mode: forwards;
      opacity: 0;
    }

    &-4 {
      position: absolute;
      top: 85px;
      right: 89px;
      width: 285px;
      height: 525px;
      background-image: url("../images/banner/banner-bg-4.png");
      background-size: 280px;
      animation-fill-mode: forwards;
      z-index: 1;
      opacity: 0;
    }

    &-5 {
      position: absolute;
      top: 85px;
      right: 89px;
      width: 285px;
      height: 525px;
      background-image: url("../images/banner/banner-bg-5.png");
      background-size: 282px;
      animation-fill-mode: forwards;
      z-index: 2;
      opacity: 0;
    }
  }
}


