section.banner {
  min-height: 100vh;
  overflow: hidden;

  .title {
    margin-top: 162px;
    text-align: left;
    font-weight: 500;
    font-size: 40px;
  }

  .subtitle {
    margin: 24px 0 33px 0;
    font-weight: 300;
    line-height: 32px;
    font-size: 24px;
  }

  .btn-create-app {
    padding: 17px 23px 17px 22px;
  }

  .banner-bg {
    position: absolute;
    top: 35px;
    right: 130px;
    width: 60%;
    height: 715px;
    background: url("../images/banner/banner-bg.png") top right no-repeat;
    background-size: 100%;
    z-index: 3;

    &-1 {
      top: 68px;
      right: 193px;
      width: 327px;
      z-index: 2;
      transform: rotate(-20deg);

    }

    &-2 {
      top: 42px;
      right: 130px;
      width: 327px;
      z-index: 2;
      transform: rotate(20deg);

    }
  }
}


