section.banner {
  min-height: 100vh;
  overflow: hidden;

  .title {
    margin-top: 162px;
    text-align: left;
    font-weight: 500;
    font-size: 40px;
  }

  .subtitle {
    margin: 24px 0 33px 0;
    font-weight: 300;
    line-height: 32px;
    font-size: 24px;
  }

  .btn-create-app {
    padding: 17px 23px 17px 22px;
  }

  .banner-bg {
    position: absolute;
    top: 75px;
    right: 100px;
    width: 370px;
    height: 715px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../images/banner/banner-bg.png");
    z-index: 3;
    background-size: 329px;

    &-2 {
      position: absolute;
      top: 77px;
      left: 220px;
      width: 370px;
      height: 715px;
      z-index: 2;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: url("../images/banner/banner-bg-2.png");
      background-size: 300px;
      animation-fill-mode: forwards;
      opacity: 0;
    }

    &-3 {
      position: absolute;
      top: 77px;
      left: 220px;
      width: 370px;
      height: 715px;
      z-index: 2;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: url("../images/banner/banner-bg-3.png");
      background-size: 300px;
      animation-fill-mode: forwards;
      opacity: 0;
    }

    &-4 {
      position: absolute;
      top: 152px;
      left: 220px;
      width: 370px;
      height: 715px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: url("../images/banner/banner-bg-4.png");
      background-size: 280px;
      animation-fill-mode: forwards;
      opacity: 0;
      z-index: 1;
    }

    &-5 {
      position: absolute;
      top: 152px;
      left: 220px;
      width: 370px;
      height: 715px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: url(../images/banner/banner-bg-5.png);
      background-size: 282px;
      animation-fill-mode: forwards;
      opacity: 0;
      z-index: 2;
    }
  }
}


