.benefits {
  text-align: center;
  padding: 120px 0;

  .title {
    margin-bottom: 100px;
    font-weight: 500;
  }

  .subtitle {
    margin-bottom: 14px;
  }

  p {
    font-size: 16px;
  }

  .icon {
    width: 51px;
    height: 51px;
    margin: 0 auto 20px auto;
    padding: 40px;
    border-radius: 50%;
    background: #fff no-repeat center;
    box-shadow: 0 0 10px 0 rgba(230, 230, 230, 0.5);


    &-lightning {
      background-image: url("../images/lightning.svg");
    }
    &-book {
      background-image: url("../images/book.svg");
    }
    &-clock {
      background-image: url("../images/clock.svg");
    }
    &-medal {
      background-image: url("../images/medal.svg");
    }
    &-phone {
      background-image: url("../images/phone.svg");
    }
    &-hand {
      background-image: url("../images/hand.svg");
    }
  }

  &-item {
    max-width: 280px;
    margin: 0 auto 80px auto;

    .subtitle {
      font-weight: 800;
      font-size: 16px;
    }
  }
}