.counter-bloc {
  text-align: center;
  font-size: 18px;

  .steps-item {
    padding-top: 0;
  }

  .btn-create-app {
    margin-top: 50px;
    margin-bottom: 135px;
  }

  .title {
    font-weight: 500;
    line-height: 1.45;
    font-size: 22px;
    color: #000;
  }

  .counter {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
  }
}