.counter {
  padding: 80px 0;
  text-align: center;
  font-size: 50px;
  background-color: #fff;

  &-title {
    margin-bottom: 50px;
    font-weight: 500;
    line-height: 1.45;
    font-size: 22px;
    color: #000;
  }

  #clock {
    max-width: 475px;
    margin: 0 auto;

    .flip-clock-divider.seconds {
      display: none;
    }
  }
}