.portfolio {
  padding: 120px 0 80px 0;
  text-align: center;

  .title {
    margin-bottom: 20px;
    font-weight: 500;
  }

  .subtitle {
    font-weight: 300;
  }

  .slider {
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;

    .slide {
      display: flex;

      &-container {
        position: relative;
        left: -1110px;
        display: flex;
        justify-content: flex-start;
        width: 5000px;
      }

      .template {
        flex: 1;

        &-bg {
          height: 510px;
          background: center no-repeat;
          background-size: 100%;
          @media (max-width: $md) {
            height: 320px;
          }

          &.website {
            background-image: url("../images/website.png");
          }
          &.messenger {
            background-image: url("../images/messenger.png");
          }
          &.browser {
            background-image: url("../images/browser.png");
          }
          &.media-player {
            background-image: url("../images/media-player.png");
          }
        }

        &-title {
          margin-top: 30px;
          font-weight: 600;
          font-size: 18px;
        }
      }

    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    a {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 0 10px 0 rgba(230, 230, 230, 0.5);

      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 16px;
        width: 10px;
        height: 10px;
        border: 1px solid #000;
        transform: rotate(45deg);
      }

    }
    .button-prev {
      &:before {
        left: 17px;
        border-top-color: transparent;
        border-right-color: transparent;
      }
    }
    .button-next {
      &:before {
        right: 17px;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
    }
  }

  .indicators {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    margin: 60px auto 50px auto;

    .indicator {
      width: 8px;
      height: 8px;
      margin: 0 10px;
      border-radius: 50%;
      background-color: #d8d8d8;
      cursor: pointer;

      &.active {
        width: 14px;
        height: 14px;
        background-color: $color-button;
      }
    }
  }
}

