.range-goods {
  margin-top: 120px;
  text-align: center;

  .title {
    margin-bottom: 20px;
    font-weight: 500;
  }

  .subtitle {
    margin-bottom: 80px;
    font-weight: 300;
  }

  .calculate {
    display: flex;
    padding: 24px 0 30px 0;
    box-shadow: 0 0 10px 0 rgba(230, 230, 230, 0.5);

    &-item {
      flex: 1;

      p {
        margin: 0;
      }

      p.title {
        margin-bottom: 6px;
        font-size: 40px;
        font-weight: 700;
      }

      p.subtitle {
        font-size: 18px;
        color: $color-button;
      }
    }
  }
}