.referral {
  text-align: center;
  font-weight: 700;
  line-height: 29px;
  font-size: 18px;

  .title {
    margin-bottom: 40px;
  }

  .banner {
    position: relative;
    height: 386px;
    margin-bottom: 40px;

    .external-bg {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%,-50%);
      background: center no-repeat;
      background-size: 100% 100%;
      z-index: 1;
    }

    .pink-bg {
      background-image: url("../images/pink-bg.svg");
    }

    .green-bg {
      background-image: url("../images/green-bg.svg");
    }
  }


  .content {
    position: relative;
    width: 100%;
    height: 100%;

    &-bg {
      position: absolute;
      width: 140px;
      height: 150px;
      background: center no-repeat;
    }

    .subscription {
      width: 100%;
      height: 100%;
      background: url("../images/subscription.svg") center no-repeat;
    }

    .left-hand {
      top: 30%;
      left: 100px;
      background-image: url("../images/right-hand.svg");
    }

    .right-hand {
      top: 40%;
      left: 300px;
      background-image: url("../images/left-hand.svg");
    }
  }

  p {
    margin-bottom: 85px;
    font-weight: 500;

    &.business-offer {
      margin-bottom: 60px;
      padding: 25px 45px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 0 10px 0 rgba(230, 230, 230, 0.5);
    }
  }

  .text-pink {
    color: #a62073;
  }

  .text-green {
    color: #7aa720;
  }

}